<a href="https://colab.research.google.com/github/KendallSamuel/HW-/blob/main/HW_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#check that the age given is a number and enforce this
age = input("please give me a number for your age\t")
while not(age.isdigit()):
  age = input("Please give me a number for your age\t")

#convert the age to a number
  age = int(age)

# check the name is a bunch of letters and not numbers and enforce this
name = input("Please give me your name\t")
while not(name.isaplha()):
  name = input("Please give me your name\t")

In [ ]:
#pull the digits from a number
  x= 841
  total = 0
  hasThree = False
  holder = x

#check if it has a three
while(holder > 0):
  if(holder%10 == 3):
    hasThree = True
    break
  holder = holder // 10

#add the digits together
while(hasThree and x >0):
  total += x%10
  x = x//10
  
print(total)

0

#Print Numbers with a 3 in Them

In [ ]:
for x in range (1,1001):
  hasThree = False
  holder = x

#check if it has a three
while(holder > 0):
  if(holder%10 == 3):
    hasThree = True
    break
  holder = holder // 10

if(hasThree):
  print(x,end=" ")

#Show numbers whose digits add to 17

In [ ]:
for x in range(1,100001):
  total = 0
  holder = x

#add the digits together
while(holder > 0):
  total += holder%10
  holder = holder//10

if(total == 17):
  print(x, end=" ")

#Show numbers whose digits add to 23 and have a 3 in them

In [ ]:
#pull the digits from a number
for x in range(1,10001):
  total = 0
  hasThree = False
  x = holder = 1

#check if it has a three
while(holder > 0):
  if(holder%10 == 3):
    hasThree = True
    break
  holder = holder // 10

#add the digits together
while(hasThree and x >0):
  total += x%10
  x = x//10
  
if(total == 23):
  print(x, end=" ")

#While loop to output all even numbers between 1 and 100 backwards.

In [ ]:
for i in range(100,0,-1):
  print(i, end=" | ")

100 | 99 | 98 | 97 | 96 | 95 | 94 | 93 | 92 | 91 | 90 | 89 | 88 | 87 | 86 | 85 | 84 | 83 | 82 | 81 | 80 | 79 | 78 | 77 | 76 | 75 | 74 | 73 | 72 | 71 | 70 | 69 | 68 | 67 | 66 | 65 | 64 | 63 | 62 | 61 | 60 | 59 | 58 | 57 | 56 | 55 | 54 | 53 | 52 | 51 | 50 | 49 | 48 | 47 | 46 | 45 | 44 | 43 | 42 | 41 | 40 | 39 | 38 | 37 | 36 | 35 | 34 | 33 | 32 | 31 | 30 | 29 | 28 | 27 | 26 | 25 | 24 | 23 | 22 | 21 | 20 | 19 | 18 | 17 | 16 | 15 | 14 | 13 | 12 | 11 | 10 | 9 | 8 | 7 | 6 | 5 | 4 | 3 | 2 | 1 |

In [1]:
for i in range(100,1001):
  isPrime = False

  start = 2
  while(start < i):
    if(i % start == 0):
      isPrime = False
      break
    start += 1

  if(isPrime):
    print(i,end=" | ")